.main-container{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mod1 {
    display: flex;
   /* justify-content:space-between; */
   align-items: center;
   margin: 10px 16px 10px 16px;
   position: relative;
}

.Edit{
    position: absolute;
    right: 0;
}
.mod1 h2{
    /* flex:10; */
    font-size: 24px;
}

.mod1 img{
    /* flex:1; */
    width: 25px;
}

.mod2{
    display: flex;
    align-items: center;
    position: relative;
}
.mod2 .img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.mod2 .expand-btn{
    height: 30px;
    width: unset;
    right: 17px;
    position: absolute;
}
/* .more{ */
    /* height: 24px;
    width: 52px; */
    /* background: #FAF9F4;
    border: none;
} */
.mod2 p{
   flex:2;
    
}
.sub1 {    
    margin-left: 16px;
    margin-right: 64px;

    flex:8;
}

.expand{
    display: flex;
    flex-direction: column;
    width: 156px;
    background-color: white;
    margin-left: auto;
    position: absolute;
    right: 0;
    top: 100%;
    border-radius: 8px;
    overflow: hidden;
    outline: 1px solid #E5E5E0;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 8px 0px;
    /* display: none; */

}
.expand img{
    width: 25px;
}

.ex2{
    display: flex;
    outline: 1px solid #E5E5E0;
}
.ex2 img{
    margin-left:12px;
}
.ex2 p{
    margin-left: 12px;
    /* align-items: flex-end; */
}
.line1{
    border-bottom: 1px solid #B7B7B7;
    text-align: center;
    width: 100%;
    width: 95%;
    margin: auto;
    
}
.date1{
    position: relative;
    top: 10px;
    background-color: #faf9f4;
    color: #B7B7B7;
}

.content{
    padding-top: 4%;
    overflow-y: scroll;
    flex-grow: 1;
}

.contentdic{
    display: flex;
    margin-bottom: 20px;
    margin-top: 32px;
}

.contentdic img{
    border-radius: 50%;
    height: 24px;
}

.contentdic p{
    background: white;
    color: #606060;
    margin: 0px;
    margin-left: 6px;
    margin-right: 24px;
    border-radius: 0 12px 12px 12px;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 8px 0px;
    
}

.contentfal{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 20px;
    margin-left: 52px;
    margin-top: 32px;
    background: none;
    position: relative;
}
.contentfal img{
    border-radius: 50%;
    height: 24px;
    
}

.contentfal p{
    background: #1C63D5;
    padding: 8px;
    color: #ffffff;
    margin: 0px;
    margin-left: 24px;
    margin-right: 6px;
    border-radius: 12px 12px 0 12px;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 8px 0px;
    
}

.foot{
    margin-bottom: 20px;
    border-radius: 8px;
    /* padding-top: 2%; */
    display: flex;
    background: white;
    height: 77px;
    align-items: center;    
}
.plane{
    height: 32%;
}

.Attachment_container{
    height: inherit;
    overflow: visible;
    position: relative;

}
.Attachment_container>.options{
    background-color: #008000;
    display: flex;
    justify-content: space-around;
    z-index: 1;
    position: absolute;
    top: -62px;
    border-radius: 999px;
    height: 62px;
    width: 150px;
    align-items: center;
    left: 50%;
    transform: translate(-50%, 0);
}
.Attachment_container>.options>img{
    height: 60%;
}

.pa{
    height:38%;
    margin:23px;
    
}

.squery{
    color: #B7B7B7;
    width: 80%;
    height: 100%;
    margin-left: 3%;
}

input.squery {
    color: black;
    border: none;
}

.spin1{
    height: 10vh;
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
}

.hidden{
    display: none !important;
}